# Name of the Market to deploy. If you want to deploy a custom market, it must be included at `loadPoolConfig` function at ./helpers/market-config-helpers.ts:65
MARKET_NAME=Aave

# Alchemy RPC api key
ALCHEMY_KEY=

# Seed phrase
# Address0 0x316f6dac8a30a100def208a524c348e71d109086
# Address1 0x5528dA27A828569BC31c41428196072a9Bcde7d5
MNEMONIC=mosquito scrap confirm fiber lens salute main citizen rubber hip long close

# Etherscan API key to verify contracts
ETHERSCAN_KEY=

# Toggle Permissioned Faucet
PERMISSIONED_FAUCET=false